{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% include 'components/creategroupmodal.html' %}
<script src="/static/js/dashboard.js" ></script>
<div class="dashboard">
    {% if message %}
    <div class="messagebox">
        <p>{{message}}</p>
    </div>
    {% endif %}
    {% if error %}
    <div class="errorbox">
        <p><b>Error:</b>{{error}}</p>
    </div>
    {% endif %}
    <h1><span>{{logged_in}}</span>, welcome</h1>
    <div class="controlls">
        <div class="controlsection">
            <button onclick="opengroupcreatemodal()" class="control" >Create a new group</button>
            <a class="control" href="/joingroup">Join a group</a>
        </div>
        <div class="controlsection">
            <a class="control" href="/change_password">Change your password</a>
        </div>
    </div>
    <div class="groups">
        <h2>Your groups</h2>
        {% if not groups or groups == [] %}
        <p>You are not a member of any groups</p>
        {% endif %}
        <div class="groupcontainer">
            {% for group in groups %}
            <div class="group">
                {% include 'components/group.html'%}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</div>
{% endblock %}