/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Poppins:wght@400;600&display=swap');

:root {
    --title-font: 'Poppins', sans-serif;
    --bold-font: 'Poppins', sans-serif;
    --mono-font: 'DM Mono', monospace;

    --title-weight: 600;
    --bold-weight: 400;

    --background-color: #f5f5f5;
    --primary-color: #ffb700;
    --dark-test-color: #1a1a1a;
    --secondary-color: #433ca7;
    --inverse-color: #f5f5f5;
    --border-color: #a9a9a9;
    --warning-color: #f05252;
    --element-color: #e4e4e4;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boldtext {
    font-family: var(--bold-font);
    font-weight: var(--title-weight);
}

/* Navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navitem {
    margin-left: 2rem;
    text-decoration: none;
    color: var(--inverse-color);
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: var(--bold-font);
    font-weight: var(--bold-weight);
}

.navitem:hover {
    color: var(--primary-color);
}

.username, .username:hover {
    font-family: var(--bold-font);
    font-weight: var(--bold-weight);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.logout:hover {
    color: var(--warning-color);
    cursor: pointer;
}

.title {
    font-family: var(--title-font);
    font-weight: var(--title-weight);
}

.titlelink {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.titlelink:hover {
    color: var(--inverse-color);
}

/* Main */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-family: var(--mono-font);
    flex: 1;
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    color: var(--inverse-color);
    padding: 1rem 2rem;
    text-align: center;
    font-family: var(--bold-font);
    font-weight: var(--bold-weight);
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    border: 2px solid var(--border-color);
    font-family: var(--mono-font);
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    width: 15em;
}

input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

input::placeholder {
    color: var(--border-color);
}

.error {
    color: red;
    font-family: var(--mono-font);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.5rem 0;
    width: 25em;
}

/* Dashboard */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    font-family: var(--mono-font);
    flex: 1;
    width: 90%;
}

.dashboard h1 {
    font-family: var(--title-font);
    font-weight: var(--title-weight);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dashboard p {
    font-family: var(--bold-font);
    font-weight: var(--bold-weight);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.controlls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.controlsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 .3rem;
}

a.control {
    text-decoration: none;
    color: var(--inverse-color);
    font-family: var(--bold-font);
    font-weight: var(--bold-weight);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: .1em;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    transition: all 0.3s ease;
}

.profileImage {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: var(--primary-color);
    font-size: 2em;
    color: var(--dark-text-color);
    text-align: center;
    line-height: 2em;
    margin: 0 .3em;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin: 1rem 0;
    background-color: var(--element-color);
    border-radius: 0.5rem;
    padding: .5rem;
}

.grouptitle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a.control:hover {
    background-color: var(--primary-color);
    color: var(--dark-test-color);
}